 <!-- logo -->
 <nav class="bg-white shadow-md px-6 py-4 flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <img src="favicon.ico" alt="Logo" class="h-8 w-8">
      <span [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="" class="font-bold text-xl">Car Showrooms</span>
    </div>
  

<!-- login -->
    <div id="buttons" class="hidden md:flex items-center space-x-4">
      <a routerLinkActive="active" routerLink="login" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition">Login</a>
    </div>
  </nav>
  

  
  
