<div class="flex justify-center items-center space-x-2 mt-4">
    <button (click)="prev()" [disabled]="currentPage === 1"
            class="px-3 py-1 rounded border bg-gray-100 hover:bg-[#1d3f59] hover:text-white text-gray-700 disabled:opacity-50">
      Prev
    </button>
  
    @for(page of pages; track page){
       <button 
            (click)="goToPage(page)"
            [class.bg-[#234C6A]]="page === currentPage"
            [class.text-white]="page === currentPage"
            class="px-3 py-1 rounded border hover:bg-[#1d3f59] hover:text-white text-gray-700">
      {{ page }}
    </button>     
    }


    <button (click)="next()" [disabled]="currentPage === totalPages"
    class="px-3 py-1 hover:text-white rounded border bg-gray-100 hover:bg-[#1d3f59] text-gray-700 disabled:opacity-50">
Next
</button>
  </div>
  