<!-- WRAPPER -->
<div class="page-wrapper">
    <!-- HEADING -->
    <!-- <h1 class="page-title">Car Showroom</h1> -->
  
    <!-- CAROUSEL -->
    <video autoplay loop muted playsinline class="w-full h-auto">
      <source src="assets/videos/home1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <!-- <div class="carousel">
  
      <input type="radio" name="carousel" id="slide-1" checked>
      <label for="slide-1" class="carousel-dot" style="--hue: 32"></label>
      <div class="carousel-item" style="--z: 4">
        <h2 class="carousel-caption" style="--h: 32; --s: 80%; --l: 90%">Explore, compare, and drive away easily!</h2>
        <img src="assets/images/slide1.jpg" alt="Snow on leafs">
      </div>
  
      <input type="radio" name="carousel" id="slide-2">
      <label for="slide-2" class="carousel-dot" style="--hue: 82"></label>
      <div class="carousel-item" style="--z: 3">
        <h2 class="carousel-caption" style="--h: 82; --s: 80%; --l: 90%">Your all-in-one car hub</h2>
        <img src="assets/images/slide2.jpg" alt="Trees">
      </div>
  
  
      <input type="radio" name="carousel" id="slide-4">
      <label for="slide-4" class="carousel-dot" style="--hue: 210"></label>
      <div class="carousel-item" style="--z: 1">
        <h2 class="carousel-caption" style="--h: 210; --s: 70%; --l: 90%">Take closer look</h2>
        <img src="assets/images/slide3.jpg" alt="Sky and mountains">
      </div>
  
    </div> -->
  </div>
  

  